[2017-06-05 16:06] gwangsc opened #15 "dilated convolution layer"
Hi, dilated convolution (https://github.com/fyu/dilation) is very useful in recently developed networks such as enet (https://github.com/e-lab/ENet-training).
Could you please add support to dilated convolution?

[2017-06-05 16:24] mats-claassen commented on #15
Hi @gwangsc we will have a look at it. There are some other things in the backlog but we definitely want to keep adding new layers!

[2017-06-05 17:52] bryant1410 commented on #15
@gwangsc we are also open to contributions if you want to implement the feature youself

[2017-06-06 00:58] liamnaks commented on #15
New RNN performance shaders added to Metal in iOS 11.0 beta, should be fun to work with!

[2017-06-06 01:04] gwangsc commented on #15
Yep. Saw the keynote. It is pretty cool.
But it would be good to have those missing layers implemented, for older devices which may not support 11.0 and Metal2.

[2017-06-06 12:25] bluemellophone opened #18 "Metal 2 Support"
With the beta release of Metal 2 yesterday by Apple, is there a development timeline for supporting this new framework?

[2017-06-07 04:51] minipeach commented on #18
I search document with WWDC2017 ,   i find that Metal 2 is for Mac OS ,not iOS ,  is it right ?

[2017-06-07 15:23] kalli8 opened #20 "No such module 'SwiftProtobuf'"
I had to manually add the SwiftProtobuf dependency with Pods which worked fine, but I can't get the example project to run as it looks like Bender is imported directly into the project.

[2017-06-07 15:35] mats-claassen commented on #20
There is a step missing in the Readme. We install SwiftProtobuf using Carthage so you should run `carthage update --platform iOS` before you can run the examples.

[2017-06-07 15:36] johndpope opened #21 "clarification tensorflow + magenta .mag file / cyclic redundancy problem"
Awesome job on this project.

I'm looking to extend functionality over to support magenta.
Yes, granted current library isn't rigged up to do this.
https://github.com/tensorflow/magenta

I added a .mag file from google's tensorflow / magenta project.

They are using a metagraph file - this contains a few extra protobuf files needed from tensorflow.
Tensorflow_MetaGraphDef /MetaInfoDef and others e

[2017-06-07 16:29] kalli8 commented on #20
I get
$ carthage update -- platform ios
Failed to read file or folder at /Users/username/Bender/Example/Cartfile: Error Domain=NSCocoaErrorDomain Code=260 "The file “Cartfile” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/Users/username/Bender/Example/Cartfile, NSUnderlyingError=0x7fca61151ed0 {Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory"}}

[2017-06-07 16:31] bryant1410 commented on #21
Thanks! :smile:

You have a Metagraph file, but you have a whole checkpoint? If you do, consider using [benderthon](https://github.com/xmartlabs/benderthon), as described in the docs, so you can convert it to a frozen and small graph.

[2017-06-07 17:00] bryant1410 commented on #21
I don't know much about magenta and .mag files, but the file format seems to be a protobuf with GeneratorBundle as a protocol, defined in [generator.proto](https://github.com/tensorflow/magenta/blob/8a84f7da776b35f7ea6da8f432f4174dfef9d7d2/magenta/protobuf/generator.proto#L59). To simplify the process, you can load that with benderthon, forking it and then freezing and saving the graph.

With resp

[2017-06-07 17:01] mats-claassen commented on #20
The Cartfile is not in the `Example` folder. It is at the root folder

[2017-06-07 17:06] bryant1410 commented on #21
@johndpope can you provide a frozen graph so it's easier for us (and for others) to test it?

[2017-06-07 17:17] johndpope commented on #21
I'm digging through tensorflow magenta forums.
all my code is pushed to master here ->
https://github.com/johndpope/Bender/

I'll keep digging for check point file + meta file.

[2017-06-07 18:11] johndpope commented on #21
https://github.com/tensorflow/magenta/tree/master/magenta/models/melody_rnn#creating-a-bundle-file

Creating a Bundle File

The bundle format is a convenient way of combining the model checkpoint, metagraph, and some metadata about the model into a single file.

https://github.com/tensorflow/magenta/blob/master/magenta/protobuf/generator.proto

[2017-06-07 19:38] ianrahman commented on #18
@minipeach Metal 2 appears to be available for iOS, as well: https://developer.apple.com/metal/

[2017-06-07 21:22] #20 closed

[2017-06-12 15:57] johndpope opened #27 "Tensorflow - operation coverage / code generation fyi"
not sure this helps -
but I built out some swift code to read in the ops.pb file that contains every tensorflow operation
and stubs out some swift code using stencilkit
https://github.com/johndpope/tensorflow/blob/master/tensorflow/swift/misc/OperationDefinitions.stencil
https://github.com/johndpope/tensorflow/tree/master/tensorflow/swift/Sources

(this was part of a wider attempt to port some gol

[2017-06-15 08:03] TofPlay opened #30 "Issue with Carthage"
Hi,
I just try install your component on a test project with Carthage
My `Cartfile`:
[code]
Carthage output:
[code]
When I open the project I just see one iOS target 'Palladium' (why `Palladium` and not `MetalBender iOS` 😦)
If it's can help here a tutorial to create a cross platform framework compatible with macOS, iOS, tvOS and watchOS and with a clean support of Carthage: [Swift Cross Platform F

[2017-06-20 13:32] #27 closed

[2017-06-20 13:34] johndpope commented on #21
from looking at code under the hood of bender - it seems more appropriate for image stuff rather than vanilla rnn / lstm tensorflow models. going to close this.

[2017-06-20 13:34] #21 closed

[2017-06-23 15:18] dernster opened #33 "Conv transpose only works with 3x3 kernel size"

[2017-06-30 01:04] bvallelunga opened #36 "Simple Non-Image Based Example"
Hey @mats-claassen thank you for building this amazing library! This is exactly what I was looking for!!!

I noticed you have a lot of examples with Image based ML and am struggling to get started with a simple non-image example. I have a model built in tensorflow that is 1 layer using Sigmoid that takes in 20 features and outputs 1 label, Binary Classification. I am struggling to get my model to

[2017-06-30 16:57] johndpope commented on #36
not what you were looking for - but distantly related albeit this is for server side stuff.
swift + tensorflow + custom models.
https://github.com/PerfectExamples/Perfect-TensorFlow-Demo-Vision

[2017-06-30 17:23] bvallelunga commented on #36
@johndpope do you know if it provides iOS support and if the library size doesn't increase the apps binary size to much? Im capped at increasing our apps size by 5mb.

[2017-06-30 18:52] bvallelunga commented on #36
@dernster any thoughts on how to run a simple non-image predict on Bender from a TensorFlow file?

[2017-06-30 19:02] johndpope commented on #36
hi @bvallelunga  - no ios support. the native c++ tensorflow stuff out of the box does have support for ios - as of the other week they now have a development cocoapod of 500mb. not sure how this impacts final build size. I've found it a challenge to do the most basic loading of custom models that are not image based though.

It's likely if there's demand that the swift wrapper that @RockfordWei c

[2017-06-30 20:27] bvallelunga commented on #36
@johndpope that interesting, though 500mb is like crazy large. I am also having trouble getting a very basic model to work on bender. I am getting these errors:

[code]

This is the TensorFlow python script I used to generate the model:

[code]

@dernster or @mats-claassen any thoughts?

[2017-06-30 21:02] dernster commented on #36
@bvallelunga Thanks. You can take a look at this [test](https://github.com/xmartlabs/Bender/blob/master/Example/Example/Tests/LocalResponseNormTest.swift). Here we use an internal `Texture` class that can be created from arrays, then it's converted to a `MTLTexture` and finally to a MPSImage. In your particular case I see that your model has a "Greater" layer and we don't have support for it at th

[2017-06-30 21:05] bvallelunga commented on #36
@dernster Thank you! Yea I just noticed you don't support the Greater layer. Do you plan on adding support for it soon?

Also does code look good for building a `MPSImage`?

[code]

[2017-06-30 21:11] bryant1410 commented on #36
@bvallelunga there's no plan to add it soon. But maybe you can try to implement it yourself, by taking a look at some other layer!

[2017-06-30 21:22] dernster commented on #36
@bvallelunga Not sure but you can see our Texture class. It already has that functionality and without the multiple of 4 restriction. Maybe we would need to add it to Bender, since right now it's at the Example project.

[2017-06-30 21:26] bvallelunga commented on #36
@dernster would you be able to give me an example of using the functionality without the multiple of 4 restriction?

[2017-06-30 21:46] RockfordWei commented on #36
Thanks, @johndpope for the comment. For TensorFlow iOS solution, however, I think CoreML maybe a better approach - you can import TensorFlow or even Keras models to CoreML. That's one of the most important reasons that I am not going to migrate Python core code into Swift right now without our sponsors' permission. Sorry about that.

[2017-06-30 21:53] bryant1410 commented on #36
Take into account that Core ML doesn't support TensorFlow without Keras, it only supports versions 1.0.X and 1.1.x and it doesn't support adding custom layeers. Also, it works with iOS 11+, which hasn't been released.

[2017-06-30 21:55] RockfordWei commented on #36
If anyone can be the sponsor I think I can translate the whole TensorFlow
python library into Swift

On Fri, Jun 30, 2017 at 17:53 Santiago Castro <notifications@github.com>
wrote:

[2017-06-30 21:57] bvallelunga commented on #36
@RockfordWei would the the completed framework support iOS and be lightweight (under 2mb)?

[2017-06-30 22:06] RockfordWei commented on #36
On Fri, Jun 30, 2017 at 17:57 Brian Vallelunga <notifications@github.com>
wrote:

No guarantee, I didn't poke it much

[2017-06-30 22:08] bvallelunga commented on #36
@RockfordWei what kind of sponsorship are you looking for?

[2017-06-30 22:13] RockfordWei commented on #36
On Fri, Jun 30, 2017 at 18:08 Brian Vallelunga <notifications@github.com>
wrote:

See perfect.org

[2017-06-30 22:15] bvallelunga commented on #36
@RockfordWei I have checked out the site, is there a specific page you would like me to look at?

[2017-06-30 22:16] RockfordWei commented on #36
On Fri, Jun 30, 2017 at 18:13 Rocky WEI <rockywei524@gmail.com> wrote:

We are attracting the third round of investment, actually

[2017-06-30 22:17] bvallelunga commented on #36
Ahhh, no thank you. I am just a single developer working on a side project.

[2017-07-03 12:20] dernster commented on #36
@bvallelunga Sorry for the delay, here's an example:

Create your texture:
[code]
Here, each array corresponds to z-values.
Then, you need to create a metal texture:
[code]
And finally a `MPSImage` instance:
[code]

Take into account that the class `Texture` isn't included in Bender, for now it's only on the Examples. Maybe you can just copy that class.

[2017-07-10 23:12] samkohli opened #38 "Example.ConcatTest: Compiler failed to build request fatal error: Unable to create pipeline state, check metal shaders: file"
Environment: Xcode: Version 8.3.3 (8E3004b)
                       iOS:  10.3
                       Device: iPhone 6 Plus

Stacktrace:

2017-07-10 18:54:19.618344-0400 Example[1174:306198] [DYMTLInitPlatform] platform initialization successful
2017-07-10 18:54:19.753218-0400 Example[1174:305990] Metal GPU Frame Capture Enabled
2017-07-10 18:54:19.754074-0400 Example[1174:305990] Metal API Validat

[2017-07-12 05:40] PetroWu commented on #38
I have the same issue in the example code without any modification. Any help?

[2017-07-13 10:39] AndreJFBico commented on #38
Same issue.

[2017-07-13 16:08] bryant1410 commented on #38
It seems that it found the "concat_x" kernel in the test but fails to create the pipeline state for some reason.

This works fine on iphone 7 and 6s with the same Xcode and iOS versions. So it seems to be a problem with iphone 6.

Researching further, concat is the only one that uses "arrays". And according to the [Metal Feature Set Table](https://developer.apple.com/metal/Metal-Feature-Set-Tables

[2017-07-13 22:43] dernster commented on #38
Hey @samkohli @PetroWu @AndreJFBico I've just created a pull request for this. In the meantime you can try pointing to this [branch](https://github.com/xmartlabs/Bender/tree/fix/issue-38) and let me know if it helps.

[2017-07-14 09:07] AndreJFBico commented on #38
@dernster i tested on a 6 plus and all tests now pass with that fix.

[2017-07-14 15:32] bryant1410 opened #40 "Concat axis isn't correctly read from a TensorFlow protobuf"
Should check the Variable with name ending in "/axis".

[2017-07-14 15:34] bryant1410 opened #41 "Make the metal kernels independents of the type"
Maybe define a macro in a header with the value `float`, so it could be easily changed to another one.

[2017-07-16 21:47] AndreJFBico commented on #38
However the style transfer example shows a brown image, it runs successfully but the result is just brown.

[2017-07-16 22:16] bryant1410 commented on #38
on iphone 6 in that branch? what about master?

[2017-07-16 22:35] AndreJFBico commented on #38
It happens on iphone 6 with the pull request branch.

This is the console output:
`ALL TEST PASSED
"Unknown input: ^moments/sufficient_statistics/mean_ss"
"Unknown input: ^moments/sufficient_statistics/var_ss"
"Unknown input: ^moments_1/sufficient_statistics/mean_ss"
"Unknown input: ^moments_1/sufficient_statistics/var_ss"
"Unknown input: ^moments_2/sufficient_statistics/mean_ss"
"Unknown input: ^

[2017-07-17 12:19] dernster commented on #38
@AndreJFBico Thanks for reporting this! On iPhone 7 is working fine so it seems to be a problem with iPhone 6... I'm not able to test it until Wednesday though. Can you please open another issue related to just the brown image? Since the pull request will be closing the initial issue of the Concat. Thanks!

[2017-07-17 12:25] #38 closed

[2017-07-17 13:38] AndreJFBico opened #42 "Iphone 6 plus style transfer example not working on iOS 11"
(UPDATE:) I just realised i was testing on iOS 11, the example runs ok with iOS 10 with the latest pull request branch. https://github.com/xmartlabs/Bender/pull/39

However Im still posting this as an issue for iOS 11.

Xcode version: 8.3.2

This is the console output:
ALL TEST PASSED "Unknown input: ^moments/sufficient_statistics/mean_ss" "Unknown input: ^moments/sufficient_statistics/var_ss" "Un

[2017-07-17 13:44] AndreJFBico commented on #38
Hey i just realised i was testing it with iOS 11 i can confirm it is working with iOS 10, sorry for the confusion.

[2017-07-19 11:24] hoangtuanfithou opened #43 "Convert model from Tensor flow"
Dear @bryant1410 ,

I want to
1. Trained 1 more flower using : https://www.tensorflow.org/tutorials/image_retraining
2. then using your guide to import model from step 1 to use with Blender but I can not convert and import
https://github.com/xmartlabs/Bender/blob/master/Documentation/Importing.md
->
benderthon tf-freeze checkpoint_path.ckpt graph_with_weights.pb Output_Node_Name
what is checkpoint

[2017-07-19 17:01] santiagofm commented on #42
Hey @AndreJFBico !
I am wondering how you could run on an iOS 11 device from Xcode 8.3.2 as that isn't possible, you need xcode 9. Can you check the version of Xcode you use ?
Cheers

[2017-07-20 11:44] AndreJFBico commented on #42
Hey! thanks for the fast answer, and yes its possible.
https://stackoverflow.com/questions/44381860/use-xcode-8-with-ios-11

But on the other hand i should have tested it with Xcode 9 just to make sure, ill do it and report back.

[2017-07-20 15:21] santiagofm commented on #42
Oh my bad then !
I don't have any device with iOS 11 in hand so I can't really test 😞 but please do using Xcode 9 beta 3 (with beta 2 Bender won't compile) and don't mind those logs as they are just warnings and they'll get ignored once #44 gets merged.

[2017-07-23 14:47] derdav3 opened #45 "Correct Installation?"
Noob question: Downloading the git and installing the example project using the cartfile works, but when incorporating Bender into my own project the import clearly fails. I added the lines

[code]

to my Podfile, but importing 'Bender' fails with the "No such module". Sorry if this is non-bender specific as I don't really know Swift :)

[2017-07-24 11:10] chanmi commented on #42
In my case, I have similar error with this: "Unknown input".

I'm trying to run object detection with [MobileNet](https://research.googleblog.com/2017/06/supercharge-your-computer-vision-models.html) which is recently presented by Google.
They provided trained model of SSD with MobileNets in https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md.
What I want

[2017-07-24 12:50] dernster commented on #45
Hey @derdav3! Can you show me your entire podfile? Also, are you opening the workspace or the project? Once you execute `pod install`, you should work in your workspace NOT your project.

[2017-07-24 12:56] derdav3 commented on #45
Sure:
[code]

And yes - I'm working with the workspace.
Thanks! :)

[2017-07-24 13:06] dernster commented on #45
@derdav3 Make sure in your Swift code you're importing `MetalBender` not just `Bender`. Otherwise if you share with us your project, we can take a look.

[2017-07-24 14:20] bryant1410 commented on #43
You need to [save your TF model to generate a checkpoint file](https://www.tensorflow.org/programmers_guide/variables#saving_and_restoring) (that is the "checkpoint_path.ckpt", the checkpoint files prefix path that you used to save it).

The output is the name of the output node. It can be obtained from the network, based on the name of the node that is the output of the network.

[2017-07-24 14:43] AndreJFBico commented on #42
That seems to me that your model has unimplemented layers, operations that have no equivalent in Benders side?

[2017-07-24 15:56] derdav3 commented on #45
@dernster Ah so I have to pod install, **then compile**, then import.. lol coming from python this is not that intuitive. Now the `import MetalBender` works, but `import Bender` still fails... anything else I have to consider?

I don't really have a project to show. I'm coming from developing Tensorflow models, and want to know how I could implement those for the iPhone. atm I just have a TF proto

[2017-07-24 16:02] dernster commented on #45
@derdav3 Yes, that's correct. You should import only `MetalBender`. Importing `Bender` **is not** supposed to work :)

[2017-07-24 16:04] derdav3 commented on #45
ah lol I thought your "MetalBender not just Bender" meant I have to import both. Thanks for the input... gotta learn Swift now :smile:

[2017-07-24 16:04] #45 closed

[2017-07-24 16:10] bryant1410 opened #47 "Cannot load a TF graph model saved without the weights"
Cannot load a model created by using benderthon v0.2.1 "save_only_graph" operation. The protobuf loading fails.

[2017-07-24 16:11] bryant1410 opened #48 "Concat only works with inputs whose shapes are multiple of 4"

[2017-07-24 16:41] chanmi commented on #42
Hmm.. in the error message, the layer or operations(
TensorArray, switch, identity, assert, get_center_coordinates_and_sizes, unstack, MultiClassNonMaxSuppression) are unimplemented.

In Bender/Sources/Layers folder, we can find identity Identity.swift.
It means,
for identity layer -> I have to connect to the system.
for other layers -> I have to implement.

Do you know how can I connect the input

[2017-07-24 17:26] #40 closed

[2017-07-24 17:29] bryant1410 commented on #42
I haven't seen the graph, but according to that output:

1. There seem to be unimplemented operations. For those, we have no ETA to implement them. You can do it yourself :smile: We can provide help, but take a look at the existing operations first to gain insight.
2. There's a cycle in your graph. We don't support that yet and we don't have an ETA. You can also work on this if you want. We are al

[2017-07-24 17:36] AndreJFBico opened #49 "Where were the style transfer example models taken from?"
Hi, if possible, do you guys know from what example the q_and_w.pb and g_and_w2.pb files were taken from. Im trying to get similar style transfer models to work with bender but the list of unsupported operations varies widely.

If you trained them yourself it would be helpful to know more information about those models.

PS:i would have posted this on stack-overflow but i don't have the rep to cre

[2017-07-24 17:45] bryant1410 commented on #49
I think those protobufs were generated from [fast-style-transfer](https://github.com/lengstrom/fast-style-transfer).

Just out of curiosity, which are the unsupported operations that you ran into? Also, remember that you can try implementing them yourself. It's not that hard :sweat_smile: We can provide help :angel:

I don't have the enough rep to create a tag either :disappointed: But you can go

[2017-07-24 17:47] bryant1410 commented on #42
Were you able to make it work?

[2017-07-25 09:07] chanmi commented on #42
I have made the system print not "Unknown input".
As insert a line "print("temp input: \(input)")"  in https://github.com/xmartlabs/Bender/blob/master/Sources/Adapters/Tensorflow/TFGraph.swift after line 40.
This is a part of my error message.
[code]
By checking "BatchMultiClassNonMaxSuppression" is in "temp input: " part,
it seems like problem of unmatching with the node name and operation (or  s

[2017-07-25 12:54] AndreJFBico commented on #42
About the current issue it works properly on iphone 6.

[2017-07-25 12:59] AndreJFBico commented on #49
Hey ok ill try it and if i run into issues ill post them, ill close this issue in the meantime.

Thanks!

[2017-07-25 12:59] #49 closed

[2017-07-25 14:00] AndreJFBico commented on #30
Hey if it helps you can try downloading swift protobuf from their repository directly and compiling the framework.
https://github.com/apple/swift-protobuf

There seemed to be some issues with carthage build.
Issue:
https://github.com/apple/swift-protobuf/issues/610

[2017-07-25 14:56] bryant1410 commented on #42
@chanmi can you open a new issue for that?

[2017-07-25 15:03] AndreJFBico commented on #42
Ok im going to close this down then.

[2017-07-25 15:03] #42 closed

[2017-07-27 15:53] 287258813 commented on #30
you must have one more xcode,  just keep only one, and try again later

[2017-07-28 10:13] AndreJFBico opened #50 "Add works for two layers of the same size"
Hi, so im working on setting up a fast style transfer network in code instead of importing it from a .pb file.

And im having some issues trying to setup a residual layer.

`        styleNet.start
            ->> Convolution(convSize: ConvSize(outputChannels: 32, kernelSize: 9, stride: 1), neuronType: .none, id: "Variable_0")
            ->> InstanceNorm(shiftModifier: "1", scaleModifier: "2", id:

[2017-07-28 10:49] bryant1410 commented on #50
The layers do sanity checks of the sizes. In this case is the Add, which comes from ResidualLayer.

So it seems that what comes before the residual layer and what it yields have different size. I'm trying to figure out why, as it looks good.

[2017-07-28 11:14] bryant1410 commented on #50
A few tips while I tackle it :smile:

You can create your own blocks, as in the file you cite, by extending `CompositeLayer` and `ResidualLayer`.

Convolution should not use bias here, as the example you provide uses TF convolutions, which have no bias.

I'm noticing there's a useless `convSize` in `ResidualLayer`. Gonna remove it.

[2017-07-28 15:47] AndreJFBico commented on #50
It seems to me that the outputsize variable even inside convolution layers isn't mantained, like its reference is set to nill when the network initialize is called.

[2017-07-28 16:04] bryant1410 commented on #50
so Add is not having 2 inputs?

[2017-07-28 16:16] AndreJFBico commented on #50
The Add has 2 inputs, the output size of the second input is null.

[2017-07-31 17:18] dernster commented on #50
@AndreJFBico Do you have a repo to take a look?

[2017-08-01 09:44] AndreJFBico commented on #50
@dernster Yeah i can provide it, ill update the main post when i have it.

In the mean time this is the network im running right now.
`
        styleNet = Network(device: device, inputSize: inputSize, parameterLoader: parameterLoader)

        //We have in total 48 layers and 48 weight variables
        styleNet.start
            ->> Convolution(convSize: ConvSize(outputChannels: 32, kernelSize: 9

[2017-08-01 12:56] bryant1410 commented on #50
If the output is not ok, maybe what you can yield different layers outputs and compare them to the python implementation, to see if they match, in order to be able to find where the error is.

But have you tried saving the protobuf from the python code with benderthon and loading it with bender?

[2017-08-01 13:06] AndreJFBico commented on #50
Good suggestion, in terms of trying to import a protobuf, yes i have done that and it works properly, im trying to define the network in code so that i can understand it better and also work with it.

[2017-08-01 14:34] bryant1410 opened #53 "Fix all warnings"

[2017-08-01 14:34] bryant1410 opened #54 "Upload to CocoaPods"

[2017-08-01 14:34] bryant1410 opened #55 "Add CI with compilation and lint checking"

[2017-08-01 18:01] bryant1410 opened #56 "Setup Carthage prebuilts"
https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file

[2017-08-03 15:33] bryant1410 opened #58 "Pod is called "MetalBender" but the framework is "Bender""

[2017-08-03 16:48] dernster opened #59 "Resize & Crop on Start node"
Only when the image aspect ratio is not the expected:

1. The `scaledH` & `scaledW` seem to be calculated wrong.
2. I've seen some raise conditions between the resize encode and the crop encode. Maybe something related to the `MPSTemporaryImage`. The image after the start node looks noisy.

[2017-08-04 22:24] bryant1410 opened #62 "MNIST example is crashing"

[2017-08-06 09:10] daquexian commented on #62
I confirmed it crashed on iPhone 6. And after trying some times it ran successfully but the result it got is never correct.

[2017-08-06 16:55] geoeo opened #63 "Can't Build on xcode 8 [Macpods]"
Hey I can't build the project in xcode 8.
I can build in xcode 9 beta BUT when I try to deploy to a actual device I get the same error
This is the error message is:

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_MPSCNNSpatialNormalization", referenced from:
      objc-class-ref in SpatialNorm.o
  "_OBJC_CLASS_$_MPSCNNSoftMax", referenced from:
      objc-class-ref in Softmax.o
  "_OBJ

[2017-08-06 17:03] bryant1410 commented on #63
What problem are you having with Xcode 8? Are you [using Carthage](https://github.com/xmartlabs/Bender#examples)? Have you added all frameworks to the target?

[2017-08-06 18:14] geoeo commented on #63
No, I am using Mac Pods. My Podfile is taken from the Installation Section:

# Uncomment this line to define a global platform for your project
platform :ios, '10.0'

target 'Classifier_Benderthon' do
  # Comment this line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!

  # Pods for Classifier_Benderthon
  pod 'MetalBender', :git => 'https://github.com/xmartla

[2017-08-06 19:57] geoeo commented on #63
I switched to carthage and it builds fine now.

[2017-08-06 22:39] bryant1410 commented on #63
Oh, but not this project, but a project that uses Bender as a dependency. Ok.

[2017-08-07 09:19] geoeo commented on #63
Yes sorry. I trying to use it as a library for a classification app

[2017-08-08 17:27] #55 closed

[2017-08-09 11:38] simonbengtsson opened #65 "Unable to find a specification for `MetalPerformanceShadersProxy`"
When running `pod install` with `pod 'MetalBender', :git => 'https://github.com/xmartlabs/Bender.git'` I get the following error in the terminal.

Looking at the cocoa pods specs it seams the `MetalPerformanceShadersProxy` were removed a few hours ago. Did I miss something?

![screen shot 2017-08-09 at 13 36 30](https://user-images.githubusercontent.com/3586691/29119810-e20e97aa-7d07-11e7-874d-b61

[2017-08-09 11:56] bryant1410 commented on #65
Yeah, we deleted yesterday to upload it as `MetalProxy`, as it involves not only `MetalPerformanceShaders` :sweat_smile:

Today we will fix it, but as a workaround, you can just fork it, make MetalPerformanceShadersProxy in the podspec file point to the github repo (https://github.com/xmartlabs/MetalPerformanceShadersProxy) and then use that as a pod.

[2017-08-09 12:06] simonbengtsson commented on #65
Sounds good! Tried to simply override the location of `MetalPerformanceShadersProxy` now which worked:

[code]

[2017-08-09 12:07] bryant1410 commented on #65
Good to know! Btw, we are planning to release a version of Bender to CocoaPods today :smile:

[2017-08-09 15:11] #58 closed

[2017-08-09 15:55] bryant1410 commented on #43
Ok, I'm closing now. If you still have the issue, please comment.

[2017-08-09 15:55] #43 closed

[2017-08-09 16:22] bryant1410 commented on #65
Ok, fixed by #66

Btw, `MetalPerformanceShadersProxy` still keeps its name.

[2017-08-09 16:22] #65 closed

[2017-08-09 16:23] bryant1410 commented on #63
Fixed by #66

[2017-08-09 16:23] #63 closed

[2017-08-09 16:23] bryant1410 commented on #30
Fixed by #66

[2017-08-09 16:23] #30 closed

[2017-08-09 16:25] #54 closed

[2017-08-10 19:53] dernster commented on #50
@AndreJFBico Hi! We couldn't reproduce the original issue, could you please provide a repo with it? Additionally, if you can provide an example of a larger input size causing a crash would be helpful.

[2017-08-12 10:04] tirinox opened #67 "Upsample layer?"
Hello,
I need **upsample** layer to implement U-net for segmentation.
Is there one? Will it be implemented?

[2017-08-12 19:26] bryant1410 commented on #67
Hey. We're not planning to implement it in the short term.

But you can give it a try! Check out the code and maybe you run into a way to do it.

[2017-08-16 07:43] aguang1201 opened #69 "about depthwise_conv2d enhance"
Thank you for this API to DL on iOS. The depthwise_conv2d is absent in Supported Layers.md now. Depthwise_conv2d is very important layer for MobileNet which runs in mobile quickly.Do you have a plan to support it.

[2017-08-16 14:17] silppuri opened #70 "Cannot create ConcatV2. Missing or invalid attribute axis"
I get the following error when converting the graph containing a concat node with axis `int_value` greater than 2.
[code]

And the node in question from the `.pbtxt`:
[code]

And if I follow correctly the code it executes the `LayerConverter+Mappers.swift` calls the `LayerSize.fromTf` with the value 3. which in return is as follow:
[code]
This evaluates as nil and throws an error.

Is there an err

[2017-08-16 14:39] bryant1410 commented on #70
Bender, as it's based on MPSImage, it doesn't support tensors with more than 3 dimensions. What is the shape of the input tensor of the concat?

[2017-08-16 15:58] bryant1410 commented on #69
We have no plans but we will consider implementing it in the near future.

[2017-08-16 20:15] silppuri commented on #70
Ah ok good to know! I'm totally new to the iOS development and tipping my toes around to see what fits my project and Bender seems to be a nice API for the iOS ML projects.
Are there any "hacks" to bypass the limitation of three dimensions?

The tensors to be concatenated have shapes like `[64,63,128,64]` and `[128,63,128,64]`. This is an inception fire module I'm trying to implement. ([An example

[2017-08-23 16:22] AndreJFBico commented on #67
Im still testing it but im using the following with MPSCNNUpsamplingNearest.

`import Foundation
import MetalPerformanceShaders

open class Upscale: NetworkLayer {

    /// Used to determine the filename for this layers weights. (Ignored if there is no ParameterLoader)
    static var weightModifier: String = ""

    let size: ConvSize
    private var prevSize: LayerSize!

    var upscale: MPSCNNUp

[2017-08-23 16:24] bryant1410 commented on #67
Hey @AndreJFBico, you can send a PR with that if you want to have it in Bender!

[2017-09-14 01:34] erickingxu opened #74 "how to make bender data loader much fast?"
I had met a problem, using blender for load some model's data from training framework,like pytorch.
I need to convert them from float32 into float16(half) in Metal kernel for processing, but I found it is very slow, so is any way to speed up for this.

[2017-09-14 12:28] bryant1410 commented on #74
I suggest you use [benderthon](https://github.com/xmartlabs/benderthon) to generate a protobuf and load it from bender. It's an easy and fast way to run a model.

[2017-09-19 10:44] mdramos commented on #49
@bryant1410 would you be willing to share how you generated the protobufs from fast-style-transfer?

I've created a model using the same library, but that only generates checkpoint files and no graphs

[2017-09-19 13:08] mdramos commented on #42
Anyone run into the issue of using an image larger than 256x256 and having it replicate the styled image 4 times inside of its actual dimensions (like columns, vs one image) ?

[2017-09-19 13:34] bryant1410 commented on #42
Not me. Maybe you should open a new issue if you detect some bug.

[2017-09-19 13:35] bryant1410 commented on #49
I don't have them at hand now. I suggest you use https://github.com/xmartlabs/benderthon in conjunction with fast-style-transfer. If you are blocked, please tell me and maybe I can help you out.

[2017-09-19 16:10] mdramos commented on #49
Ok thanks, my only blocker right now is generating the pb file. Currently Im using the approach in this SO answer [here](https://stackoverflow.com/questions/45864363/tensorflow-how-to-convert-meta-data-and-index-model-files-into-one-graph-pb)

But need to see how I can generate the output node names in fast-style-transfer

[2017-09-19 16:11] mdramos commented on #49
I guess my next approach would be to use Benderthon, but would need to create the single checkpoint file, as I currently have the 3 (meta, index, data)

[2017-09-19 16:13] bryant1410 commented on #49
You don't need a single one, you can with 3. You just need to pass the common prefix (like "file.ckpt")

[2017-09-19 16:17] bryant1410 commented on #49
And with respect to the output node name, you just need to check its name

[2017-09-19 16:46] mdramos commented on #49
Do you recall what it was for fast-style-transfer, it doesnt seem to be explicitly set: https://github.com/lengstrom/fast-style-transfer/search?utf8=%E2%9C%93&q=name%3D&type=

[2017-09-19 17:00] mdramos commented on #49
[code]

produces a ton of different output

[2017-09-19 17:02] bryant1410 commented on #49
That yields every node name in the graph, not necessarily output.

[2017-09-19 17:04] bryant1410 commented on #49
The output is in: https://github.com/lengstrom/fast-style-transfer/blob/master/src/transform.py#L18

It's automatically named by TF, probably by the Add operation, something like "AddN" (where N is the number of the last unnamed addition operation, 0-based).

[2017-09-19 17:57] mdramos commented on #49
ah thanks, looks like I was able to find it in the evaluate function and the restore of the graph:
`Tensor("add_37:0", shape=(1, 720, 884, 3), dtype=float32, device=/device:GPU:0)`

now when running `benderthon tf-freeze fns.ckpt tiger.pb add_37:0` I get error:
`AttributeError: 'module' object has no attribute 'freeze_graph_with_def_protos'`

[2017-09-19 18:06] bryant1410 commented on #49
can you pass a complete stacktrace?

[2017-09-19 18:06] bryant1410 commented on #49
what version of tf are you using?

[2017-09-19 18:09] mdramos commented on #49
**version 1.1.0**

[code]

[2017-09-19 18:12] mdramos commented on #49
sorry just saw the 1.2 req

[2017-09-19 18:25] mdramos commented on #49
Thanks again. I was able to get the pb file.

So far in my iOS style-transfer I can only get `g_and_w2.pb` (given) to work. Seeing some `nil` errors with my transfered pb's. Will update when I find out more

[2017-09-19 18:35] mdramos commented on #49
ah the `nil` error was my b.

But the newest error is one I believe I saw in another issue:
`assertion failed: Add works for two layers:`

[2017-09-19 18:39] mdramos commented on #50
@AndreJFBico did you figure this out?

[2017-09-19 19:01] bryant1410 commented on #50
Yeah, now we were able to reproduce the error, but we still don't know what is the cause. And we don't have an ETA for this currently.

If you want, you can go ahead and try to find it. We'll check it out when we have time (I hope it's in the following weeks).

[2017-09-19 22:58] AndreJFBico commented on #50
Im sorry that i never got that repo ready, its just i started changing the core of bender itself and i no longer had things as they were done originally.

Well i sort of figured it out, however i couldn't make it work with the .pb file straight off the bat.
And since i wanted to experiment with the code itself i converted the network of lengstrom fast style transfer to benders.

[code]

Its a one

[2017-09-20 14:57] mdramos commented on #50
Does Bender by chance have notes on how they generated their pb files?

[2017-09-20 15:45] bryant1410 commented on #50
The mnist sample came from [the benderthon sample](https://github.com/xmartlabs/benderthon/blob/master/sample.py#L94). The style transfer one probably came directly from the repo we were talking about, I don't know why it isn't working now. But we will take a look at this error as soon as we can.

[2017-09-20 16:36] bryant1410 commented on #50
@mdramos I updated benderthon so the sample uses a simpler way to generate the protobuf. Maybe take a look at it.

[2017-09-20 17:23] mdramos commented on #50
ok thanks! yea I actually got benderthon working just fine yesterday

[2017-09-22 18:06] karthikv2k opened #75 "Documentation for efficient storage of models"
"Bender allows you to use efficient storage methods to keep the models up to 10x smaller in size. "
The bender website has this statement but I couldn't any documentation on this.

[2017-09-22 20:32] joaquinrok commented on #75
Hey Karthik,
The initial model storage used by CoreML was really inefficient but that seems to have changed by now and the Bender website has been updated to reflect that. Our latest tests indicate CoreML models to be about the same size of having binary weights so no need to worry anymore. If you had had the chance to create CoreML models and compare initial binary weights storage size to the gen

[2017-09-22 20:32] #75 closed

[2017-09-22 21:44] karthikv2k commented on #75
Thanks for the info.

[2017-09-22 21:48] karthikv2k opened #76 "iOS version requirement for Bender"
the website says "Bender works on iOS 9+" but the github readme says 10.0+. From our testing it seems Bender needs 10.0+.

[2017-09-22 21:52] karthikv2k opened #77 "Batch inference API"
Is there a batch inference API available? In our use case, we need to perform inference on several (up to 100+) cropped parts of an image. A batch inference API would make this operation efficient. Thanks.

[2017-09-22 21:57] bryant1410 commented on #77
We currently don't support batch processing. But it's something we will add
in the future, albeit there's no ETA.

On vie., 22 sept. 2017 18:52 Karthik Ramasamy <notifications@github.com>
wrote:

[2017-09-28 13:33] bryant1410 commented on #76
It was designed to work on iOS 9+, but we haven't tested on it for a while. However, there's few market with iOS 9 iPhones right now, and the devices don't seem to be efficient for Bender, so we'll change the website.

[2017-09-28 13:33] #76 closed

[2017-09-29 21:28] rwash8347 opened #78 "Swift 4 Compatibility"
Great framework! 😄
Any ideas when it will be available for Swift 4?

[2017-09-29 21:29] bryant1410 commented on #78
We're working on it! Stay tuned.

[2017-10-26 14:07] j005u commented on #49
Having the same issue
`assertion failed: Add works for two layers:`
Here's my protobuf: https://www.dropbox.com/s/k4i8ccn0ak0kac9/c.pb?dl=0
Generated with benderthon from a checkpoint trained with https://github.com/lengstrom/fast-style-transfer

This is NOT the same as #50.

[2017-10-26 14:13] bryant1410 commented on #49
@j005u why is not the same issue?

[2017-10-26 14:25] j005u commented on #49
Because the error is `Add works for two layers` rather than `Add works for two layers of the same size`

More specifically incoming.count = 0

[2017-10-26 14:54] j005u commented on #49
@bryant1410 Uploaded the original checkpoint to https://www.dropbox.com/s/h2ck8xf8h576kvx/check.ckpt.zip?dl=0

The output layer is add_37.

Also of note (although I'm guessing it doesn't matter?), the model was originally trained for cloud GPUs at 1980x1080.

Maybe that helps.

[2017-10-31 09:39] j005u commented on #49
@bryant1410 Any tips on debugging this?

I've tried old version of benderthon and Tensorflow. I also tried quantising the graph, but that just results in a conv2d layer having 0 inputs. Could the trained input size be an issue, should I try to retrain at 256x256? Is there a tool I could use to visually explore the .pb and try to figure out where things break down? As far as I can tell the very fir

[2017-10-31 14:46] JeremyGozlan opened #80 "pod install, unable to satisfy the following requirements, `MetalBender (~> 0.4)` required by `Podfile`"
also, when trying on simulator no warning  but when connecting my iPhone , i have multiple error including couldn't not find metal bend ( import) and multiple " already declared etc" on the proxy

[2017-10-31 14:46] JeremyGozlan commented on #80
thanks for all btw

[2017-10-31 18:29] #78 closed

[2017-10-31 23:20] JeremyGozlan commented on #80
iOS 11, xcode 9, podfile(10.0)
Any idea??
thanks

[2017-10-31 23:36] santiagofm commented on #80
Seems we forgot to release the new version to cocoapods 😅
@mtnbarreto

[2017-10-31 23:50] JeremyGozlan commented on #80
ahah ok no problem, just saw you added this version ! btw is this version a fix for the problem I had ( with the proxy redeclaration etc)?
thanks

[2017-11-01 15:13] santiagofm commented on #80
@JeremyGozlan
Yup. Feel free to open another issue if you have any, we are releasing to cocoapods in a few minutes.
Cheers

[2017-11-01 17:55] #80 closed

[2017-11-01 19:16] JeremyGozlan opened #81 "fatal error: Cannot create ConcatV2. Missing or invalid attribute axis."
Hello, just update to your new version, seems to work but i got this error when loading my pb model.

guard let axisInt32 = axisNode.nodeDef.attr["value"]?.tensor.intVal.first, let axis = LayerSizeAxis.fromTF(index: Int(axisInt32)) else {
                fatalError("Cannot create \(Constants.Ops.Concat). Missing or invalid attribute axis.")
            }

here axistInt32 = 3 , but cannot create co

[2017-11-02 00:44] JeremyGozlan commented on #81
my input tensor ( 1,320,320,3)
output (1,320,320,1)
any idea on how I can tweak bender a bit to make it work?

[2017-11-02 13:17] JeremyGozlan commented on #81
Is there a way maybe in tensor flow to reshape input/output tensor to 3d from 4d ?

[2017-11-07 11:03] tirrorex opened #82 "Example does not compile"
Cloning the repo with checkout on tag 0.4.0
Example has seven errors after pod installation (0.4.0)
Some ressources are missing and code wasn't updated to fit the changes.

[2017-11-07 11:30] tirrorex commented on #82
The two others seems to be carthage related even though i don't use it and remove carthage path from search path.
Someting fishy is going on here.

[2017-11-07 11:38] bryant1410 commented on #82
Are you using Xcode 9 right? The example is meant to be used with Carthage.

[2017-11-07 12:07] tirrorex commented on #82
Yes i am using xcode 9.
Damn, why?

[2017-11-07 12:47] bryant1410 commented on #82
I was asking since if you're not using Xcode 9 it won't work.

So, it isn't working with Carthage?

[2017-11-07 13:27] tirrorex commented on #82
Nope, MetalBender module is missing.
It is not included in the cartfile it seems.
Including it does not solve the issue, i might miss something.
Never had to use carthage before so i don't know where to go from there.

[2017-11-20 15:27] bryant1410 commented on #49
Sorry for the delay. Quantizing the graph won't work, as Bender currently doesn't support int8. The input size is not a problem usually. To explore the .pb you can use TensorBoard.

We still have to fix the bug of the branch you cited

[2017-11-20 15:28] bryant1410 commented on #82
@tirrorex can you try now? It should work fine with Carthage.

[2017-11-20 15:31] bryant1410 commented on #81
Can you try setting the first dimension as `None` in python? And see if that works.

[2017-12-11 08:55] nhatlee commented on #82
@tirrorex `cd` to `Bender-master` then run `carthage update`.

[2017-12-12 09:22] tirrorex commented on #82
This will have to wait the next version of our app, since i couldn't get bender to work i switched to coreml for now. we had to ship quickly.
Will get back to you once i get the time to try the fix.

[2018-01-13 15:56] czater opened #86 "How to use model with 2 input parameters?"
I have style transfer model that have 2 input parameters - image and style number. Where can I add style number parameter? In .run there is only place fot image and completionHandler.

[2018-01-17 15:16] czater commented on #86
Anyone?

[2018-01-17 15:46] bryant1410 commented on #86
Unfortunately, this is not currently supported.

This could be worked around with custom layers, but they can only be added in pre or post processing stages. Also changing the Start node with some custom one, but operations cannot return more than one output, so it's useless. Also, there's no way to take only some part of the input in the middle of the net, which would be useful if concatenating t

[2018-01-19 21:59] johndpope commented on #21
I think this wsas root of problem.
**TF graph must be cycle free (cycles are generally created due to control flow ops like if, while, map, etc.)**
https://github.com/tf-coreml/tf-coreml

[2018-02-22 17:30] #81 closed

[2018-02-22 19:01] #86 closed

[2018-02-28 16:29] #15 closed

[2018-02-28 16:29] #69 closed

[2018-03-20 07:04] haoxi911 opened #99 "Assertion error with Mobilenet on iOS 10 device"
I am using latest **master** branch code and testing the new added Mobilenet sample code in our own project.

- Environment:
Xcode 9.2, iOS 11.2 SDK, iPhone 7 running iOS 10.3.3.

- Assertion error:
Number of network inputs xx and input sizes xx are not equal. Line 109, Network.swift.

We also tested in iOS 11 without meeting the assertion error, since this framework is supposed to be working on i

[2018-03-20 07:19] haoxi911 commented on #99
I saw your code in InceptionExample.swift, I think you've aware of this while write code. Please feel free to close this ticket.

[2018-03-20 14:08] mats-claassen commented on #99
Hi @haoxi911 . Sorry for the inconvenience. We have recently added a few layers that are only supported in iOS 11 (like the Depthwise which is used in MobileNet). We should add a warning in that example

We might try to implement that layer so that it works in iOS 10 but for now it doesn't.

[2018-03-20 16:41] smoore6 commented on #99
Hi @mats-claassen I wanted to ask you some follow-up questions on this topic. I have been working with @haoxi911 on an iOS project that uses image recognition. We are using CoreML for iOS 11, but we also need to support iOS 10, and are still seeking an optimal solution. We have tried using TensorFlow, but the speed is a little slower than what we would like.

Can you clarify if there is a way to u

[2018-03-20 16:51] bryant1410 commented on #99
Hey, it is not that image recognition does not work for iOS 10. The problem is that the Depthwise Conv layer (used in MobileNet) is not implemented for iOS 10, only for iOS 11. Other models for image recognition work on iOS 10, such as Inception or VGG.

For the Depthwise Conv with don't have an ETA currently, but it is on the roadmap. I'll get in touch with you in case you want to sponsor this or

[2018-03-20 16:57] bryant1410 commented on #99
@smoore6 I don't find your email on GitHub :smile: Please, write to the email that appears on my GitHub profile so we can discuss further.

[2018-03-20 17:54] smoore6 commented on #99
@bryant1410 Thank you for the explanation! We are planning to use MobileNet, so we may need some help from you. I've sent an email to the address in your GitHub profile.

[2018-03-21 00:28] haoxi911 commented on #99
Hello @bryant1410

As for Depthwise CNN for iOS 10, @smoore6 actually tried another MPS+Mobilenet approach weeks ago and it did work with iOS 10+, the library comes with an implementation to Depthwise CNN which we may want to take a look, related swift code is at [here](https://github.com/Revo-Future/MobileNet-iOS/blob/master/MobileNets/DepthwiseConvolution.swift).

The major reason that we'd like

[2018-04-02 17:40] #99 closed

[2018-04-07 21:44] MichaelDylan77 opened #103 "Can't compile with Xcode 9.3, iOS 11.3"
After installing from the cocopod, I get this error on iOS 11.3, Xcode 9.3. Bender version 0.4.1

`Type of expression is ambiguous without more context`

It appears in the Convolution layer, as well as the DepthwiseConvolution.

Convolution.swift: line 114

![screen shot 2018-04-07 at 4 42 39 pm](https://user-images.githubusercontent.com/30844227/38460603-bc5457e6-3a82-11e8-8455-568c45f18616.png)

[2018-04-09 15:45] MichaelDylan77 commented on #103
Gotcha. That’s pretty much what I figured. I’ve been playing around with the MPSCNNConvolutionDataSource as well. Thanks for the input!

[2018-04-09 19:26] #103 closed

[2018-04-09 19:27] mats-claassen commented on #103
You can try it on master now

[2018-04-10 06:35] MichaelDylan77 commented on #103
Will try it tomorrow afternoon and report back. Thanks man!

[2018-04-25 07:09] leeys888 opened #106 "Convolution updateWeights function needs to be modified."
[code]
i think that "ConvolutionDataSource" code will be modified.
This code does not consider whether to use bias or not.
So I suggest the following code.

[code]

Thank you.

[2018-04-25 17:37] bryant1410 commented on #106
It seems you are right. @mats-claassen can you take a look when you are back?

[2018-05-02 16:09] #106 closed

[2018-05-15 13:12] mats-claassen opened #110 "Tests fail in iOS 11.3.1 on iPhone 8+"
In iOS 11.3.1 the tests for the `Concat` and `LocalResponseNorm` layers fail in iPhone 8 and iPhone X.
They work in iOS 11.3 (to my understanding) and also if run on iPhone 7 or below.

I am not sure this is a Bender or an iOS issue.

[2018-05-21 12:16] PIRANAVARUBAN commented on #50
I am using Using lengstrom project. While using protobuf file i faced

"Fatal error: Index out of range"
var kernelWidth: Int {
        return Int(dim[1].size)
 }

What is the Issue ?
[test.pb.zip](https://github.com/xmartlabs/Bender/files/2022453/test.pb.zip)

[2018-05-21 12:26] PIRANAVARUBAN commented on #50
@mdramos  what changes you have made it to working ?

[2018-05-21 13:00] mats-claassen commented on #50
The issue with your graph seems to be the `ExpandDims` at the beginning. I am looking into it.

[2018-05-21 14:06] mats-claassen commented on #50
There are two issues with your graph. The first one is fixed with #111 and has to do with the ExpandDims.

The second one is that `Mul` and `Add` with scalar are not supported yet. From what I saw they are only used at the end to scale the final result. What you can do there is to cut the graph after the `Tanh` (when freezing) node and then add a postprocessing layer to do the scaling like this:
[

[2018-05-22 10:40] PIRANAVARUBAN opened #112 "Pod Issue"
when i add pod to the existing project I am facing Issue

/Pods/MetalBender/Sources/Graph/Weak.swift:11:26: 'class' must come first in the requirement list

Cann't we add it as pod file

[2018-05-23 11:10] PIRANAVARUBAN commented on #50
Working ....
preds= tf.add(tf.nn.tanh(conv_t3)*150, 255./2,name="preds")

how you  calculated a and b as 2 and -1. there is a variation in outimage in python and ios ?
What value we need to put for a and b ?

[2018-05-23 13:02] PIRANAVARUBAN commented on #110
Bug in iPhoneX in iOS 11.3

[2018-05-24 05:44] PIRANAVARUBAN commented on #112
Solved

[2018-05-25 06:08] #112 closed

[2018-05-25 11:31] mats-claassen commented on #50
2 and -1 are an example.

`MPSCNNNeuronLinear` [documentation](https://developer.apple.com/documentation/metalperformanceshaders/mpscnnneuronlinear?language=objc) says it calculates `ax + b`. So yours would be something like 150 and 255/2

[2018-06-05 05:20] PIRANAVARUBAN commented on #110
Any update about this Issue

[2018-06-05 12:44] mats-claassen commented on #110
I haven't tested this on an iPhone 8 on Xcode 9.4. We reported the issue to Apple.

[2018-07-16 14:19] hollance commented on #110
FWIW I noticed similar issues with my own compute kernels on the iOS 11.3 beta on A11 devices.

[2018-07-16 16:35] mats-claassen commented on #110
Thanks for the comment @hollance.

I haven't tried this on iOS 12 either but as you said this should be fixed in iOS 12. However, we were told that they might not fix it for iOS 11.x. It might be worth to see if changing `ushort's` to `uint's` fixes our issues.

[2018-09-19 13:33] #110 closed

[2019-05-16 03:52] 80945 commented on #62
It's also crashed on iPhone 8.

[2019-06-19 07:10] baihualinxin opened #122 "Get the weight of each layer of neural network"
styleNet = Network(device: device, inputSize: inputSize, parameterLoader: loader)

styleNet.start
    ->> Convolution(size: ConvSize(outputChannels: 32, kernelSize: 9, stride: 1), id: “conv1”)
    ->> Convolution(size: ConvSize(outputChannels: 64, kernelSize: 3, stride: 2), id: “conv2”)
    ->> Convolution(size: ConvSize(outputChannels: 128, kernelSize: 3, stride: 2), id: “conv3”)
    ->> Residual

[2019-11-06 19:20] neoneye opened #123 "macOS support"
Seems like a great AI framework for iOS. I wish to use your framework on macOS.

My `podfile` looks something like this:

[code]

Doing install, says that `MetalBender` is not available for macOS.

[code]

Best of luck. Thank you for open sourcing your project.

[2020-03-04 01:15] lexuanquynh commented on #123
yes, why you not use it:
https://www.tensorflow.org/swift

[2020-03-17 20:05] #70 closed